@import "../variables";
.button2{
  margin-top: 3%;
  width: 100%;
  height: max(35px,6cqb);
  background: #63B8FF;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.1s;
}
.button2:hover{
  background: #0c62e0;
}
