@import "../variables";
.registration{
  background: $base-color9;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  container-type: inline-size;
}
.registration-active{
  width:max(300px,40cqi);
  height: max(500px,70cqb);
  display: flex;
  flex-direction: column;
  padding: max(2%,20px);
  background: #F7FAFC;
  border-radius: 10px;
}
.registration-header{
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.registration-header1{
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: flex-start;
  font-size: max(1.75rem,3.5cqi);
  align-items: center;
  margin-bottom: 2%;
  font-weight: bold;

}
.registration-header2{
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: flex-start;
  align-items: center;
  font-size: max(0.8rem,1.8cqi);
  color: #3030306E;

}
.login-zone{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login-zone-text{
  text-align: center;
  font-size: 1.25rem;
  margin-right: 5px;
}
.login-link{
  text-align: center;
  font-size: 1.25rem;
  margin-left: 5px;
  color: #4299E1;

}
.login-link:hover{
  text-decoration: underline;
}
.err-msg{
  align-self: center;
    color: red;
    font-size: 1vw;
    padding: 0;
}
.success-msg{
    align-self: center;
    color: green;
    font-size: 1vw;
    padding: 0;
}

