@import "src/styles/variables";

.search-zone{
  width: 95%;
  height: 60px;
  background: $base-color11;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.search{
  border:none;
  width: 100%;
  height: 100%;
  background: $base-color11;
  border-radius: 15px;
  font-size: max(1.5rem, 2cqi);
  outline: none;
}
.search-icon{
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #696C71;
}
.search-zone:focus-within{
  outline: 2px solid $base-color3;
}


