@import "src/styles/variables";

.word-zone{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 85px);
  background: $base-color1;
  overflow-x: clip;
  overflow-y: scroll;
  position: relative;
  top: 80px;
  bottom: 50px;
  scroll-behavior: smooth;
  container-type: inline-block;
}
.word-zone1{
  width: max(450px, 40cqi);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-word{
  height: 5vh;
  width: 95%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #696C71;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}
.word-zone-inner{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.no-words{
  margin-top: 20px;
  user-select: none;
  font-size: max(1.2rem,2cqi);
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
