@import "variables";

.custom-input{
  transition: 0.2s;

  border: none;
  border-radius: 12px;
  outline: 6px solid #126dbd;
  background: #231c1c;
  width: 90%;
  height: 28%;
  font-size: 3.5rem;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  color: #e1dede;
}
.custom-input:focus{
  outline: 6px solid orangered;
}