$base-color1: #FFFFFF;
$base-color2: #FFC56D;
$base-color3: #000000;
$base-color4: #E6E2DD;
$base-color5: #998585;
$base-color6: #F16482;
$base-color7: #4299E1;
$base-color8: #F7FAFC;
$base-color9: linear-gradient(117.82deg, #FFA26D 2.65%, #FFD79A 98.16%);
$base-color10: linear-gradient(90deg, #FFA26D 0%, #FFD79A 100%);
$base-color11: #E5E2DD;

